<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBServer_Inventory_1._1.Properties.Settings.DBA_DBServer_InventoryConnectionString"
            connectionString="Data Source=mw-dba-cms;Initial Catalog=DBA_DBServer_Inventory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>